body {
    margin: 20px;
}

#cmd {
    font-family: Georgia;
    color: blue;
    border: red;
    border-style: dashed;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
}

#analyze-status {
    color: green;
    font-weight: bold;
    display: none;
}

#filename {
    color: green;
    font-weight: bold;
}
